<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title></title>
</head>

<script type="text/javascript" th:src="@{/js/sample.js}"></script>

<body onload="loadJson()">
<!-- <p>
  <span th:text="${sample}">null</span>
</p> -->
<iframe id="iframe_id" src="" frameborder="1"></iframe>
<p id="p_id"></p>
<textarea name="" id="ta_id" cols="30" rows="10" value="aaaaaaa"></textarea>
  <!-- <table>
    <tr th:each="data : ${weatherDataList}" th:object="${data}">
      <td th:text="*{id}"></td>
      <td th:text="*{location_id}"></td>
      <td th:text="*{name}"></td>
      <td th:text="*{temperature}"></td>
      <td th:text="*{humidity}"></td>
      <td th:text="*{date_time}"></td>
    </tr>
  </table> -->

  <p>東京のデータ</p>
  <!-- <table>
    <tr th:each="data : ${weatherDataTokyo}" th:object="${data}">
      <td th:text="*{id}"></td>
      <td th:text="*{location_id}"></td>
      <td th:text="*{name}"></td>
      <td th:text="*{temperature}"></td>
      <td th:text="*{humidity}"></td>
      <td th:text="*{date_time}"></td>
    </tr>
  </table> -->
  
  <p>那覇のデータ</p>
  <!-- <table>
    <tr th:each="data : ${weatherDataNaha}" th:object="${data}">
      <td th:text="*{id}"></td>
      <td th:text="*{location_id}"></td>
      <td th:text="*{name}"></td>
      <td th:text="*{temperature}"></td>
      <td th:text="*{humidity}"></td>
      <td th:text="*{date_time}"></td>
    </tr>
  </table> -->
</body>
